Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Bcrypt==1.0.1
Flask-Migrate==4.0.7
python-dotenv==1.0.1
ibm-watsonx-ai>=1.1.2
ibm-cloud-sdk-core>=3.22.0
WTForms==3.1.2
SQLAlchemy==2.0.31
Werkzeug==3.0.3
Jinja2==3.1.4
requests==2.32.3
gunicorn==22.0.0
email-validator==2.2.0
